<h1>Add a New List</h1>

<%= simple_form_for @list do |f| %>
  <%= f.input :name, label: 'New List Name', error: 'Username is mandatory, please specify one' %>
  <%= f.input :photo, as: :file %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>

<%= link_to "Back to Homepage",  lists_path %>
