<input type="checkbox" id="layout-toggle" class="hidden-input">
<label for="layout-toggle" class="custom-button">
  <span class="text-a">Add movie to list</span>
  <span class="text-b">List</span>
</label>
<div class="d-flex">
<div class="container-half border border-end p-3">
<h2>My Lists (<%= @lists.count %>)</h2>


<div class="container-a">
<div class="cardss">
  <% @lists.each do |list| %>
    <%= link_to list_path(list), class: 'card-linkk' do %>
      <div class="card-categoryy" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= list.photo.attached? ? cl_image_path(list.photo.key) : 'https://ducunl0s4svtl.cloudfront.net/wp-content/uploads/2017/10/flat-clapperboard-icon_1063-38.jpg' %>')">
        <%= list.name %>
      </div>
    <% end %>
  <% end %>
</div>
</div>
<div class="container-b">
<ul class="list-unstyled">
  <% @lists.each do |list| %>
    <li class= "bg-light">
    <%= link_to list.name, list_path(list["id"]) , style: "font-size:30px; text-decoration: none;"%>
    <%= simple_form_for [list, @bookmark] do |f| %>
  <%= f.association :movie, collection: @movies, label_method: :title, value_method: :id, prompt: "Choose a movie" %>
  <%= f.input :comment %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
  </li>
  <% end %>
</ul>
</div>


</div>
<div class="container-half2">
  <div class="cards-index">
<% @movies.each do |movie| %>
  <div class="card-wrap">
    <input type="checkbox" id="card-toggle-movie-<%= movie.id %>" class="card-expander" />
    <div class="card">
      <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
        <%= image_tag movie.poster_url, class: 'img-fluid' %>
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
        </a>
      </div>
      <div class="card-body">
        <h5 class="card-title font-weight-bold"><%= movie.title %></h5>
        <p class="mb-2"><%= movie.rating %><i class="fa fa-star text-warning" aria-hidden="true"></i></p>
        <p class="overview">Overview: <%= movie.overview %></p>
        <label for="card-toggle-movie-<%= movie.id %>" class="more-info btn btn-link p-0">More info</label>
      </div>
    </div>
  </div>
<% end %>
</div>
</div>
</div>
